/config/
/data/
/app/copy_sweeper/temp_data/
/app/temp_data/
/biance/logs/
/media_data/
/biance/media_downloads/
/app/signal_trade_lite/logs/
/biance/promotion_copy_trade/logs/
/biance/promotion_copy_trade/forensics_logs/
